<div class="flex flex-col w-5/6 gap-2 mt-4">
{{#each this}}
    <div class="flex flex-col">
        <section class="comment card-body flex flex-col border-1 bg-gray-200 rounded-lg">
           <div class="text px-2 pt-1">
               {{comment_text}}
           </div> 
           <div class="self-end px-2 pb-1">
               -{{user.username}}, {{format_date created_at}}
           </div>
        </section>
    </div>
    {{/each}}
</div>