<div class="flex flex-col w-5/6 gap-2 mt-4">
{{#each this}}
    <div class="flex flex-col">
        <section class="comment card-body flex flex-col border-1 bg-gray-200 rounded-lg">
            
        </section>
    </div>
</div>