<form class="flex flex-col justify-center items-center gap-4 w-full">
    <h3 class="font-bold">Edit Post</h3>
    <span>
        <label for="post-title" class="font-bold">Title: </label>
        <input name="post-title" type="text" value="{{post.title}}" class="bg-gray-200">
    </span>
    <span>
        <label class="font-bold" for="content">Content: </label>
        <input name="content" type="text" value="{{post.content}}" class="bg=gray=200"/>
    </span>
    <span class="flex flex-row justify-center gap-8">
    <button type="submit" class="btn border=2 text-gray-200 bg-blue-900 px-2 py-1 rounded-lg">Update Post</button>
    <button type="button" class="delete-post-btn btn border-2 text-gray-200 bg-blue-900 px-2 py-1 rounded-lg">Delete Post</button>
    </span>
    </form>
</div>

<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>