<div class="flex flex-col justify-center items-center gap-4 w-full">
    <h3 class="font-bold">Create New Post</h3>
    <form class="new-post=form flex flex-col w=full gap-4" id="new-post-form">
        <span>
            <label for="post-title" class="form label">Title</label>
            <input type="text" id="post-title" name="post-title" class="bg-gray-200"/>
        </span>
        <span>
            <label class="form label" for="content">Content</label>
            <input id="content" name="content" class="bg-gray-200"/>
        </span>
        <span class="flex flex-row justify-center gap-8">
        <button type="submit" class="btn border-2 text-gray-200 bg-blue-900 px-2 py-1 rounded-lg">Create Post</button>
        </span>
    </form>







</div>