<div class="flex flex-col justify-center items-center gap-4 w-full">
    <h3 class="font-bold">Create New Post</h3>
    <form class="new-post=form flex flex-col w=full gap-4" id="new-post-form">
        <span>
            <label for="post-title" class="form label">Title</label>
            <input type="text" id="post-title" name="post-title" class="bg-gray-200"/>
        </span>
        <span>
            
        </span>
    </form>







</div>