{{> post-info post}}

{{#if loggedIn}}
<div class="bg-gray-400">
    <h3 class="card-header"></h3>
    <form class="card-body comment-form" id="comment-form">

     <label class="form-label">Comment</label>

    </form>
</div>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}

{{/if}}